<h1 class="mb-5 mt-5 mx-auto text-center">
  <strong style="color: #3fd1c0;">Your Cart<i class="fa-solid fa-cart-arrow-down fa-2x" style="color: #3fd1c0;"></i></strong>
</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <fieldset>
        <h3 class="text-center"><strong style="color: #3fd1c0;">Add Your Address</strong></h3>
        <%= form_tag('/checkout', remote: true, data: { turbo: false }) do |f| %>
          <div class="mb-3">
            <%= label_tag :address, 'Address', class: 'form-label' %>
            <%= text_field_tag :address, nil, class: 'form-control', required: true %>
          </div>
        
          <div class="mb-3">
            <%= label_tag :phone_number, 'Phone Number', class: 'form-label' %>
            <%= text_field_tag :phone_number, nil, class: 'form-control', required: true %>
          </div>
        
          <%= hidden_field_tag :user_id, current_user.id %>
        
          <div class="text-center">
            <%= submit_tag 'Buy Now!', class: 'btn btn-primary', style: "background: #3fd1c0" %>
          </div>
        <% end %>
        
      </fieldset>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" style="width: 100%;">
      <thead style="background: #3fd1c0;">
        <tr>
          <th class="text-center">Item</th>
          <th class="text-center">Price</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Subtotal</th>
          <th class="text-center">Update</th>
        </tr>
      </thead>
      <tbody>
        <% @cartitems.each do |item| %>
          <tr>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <div>
                  <%= image_tag item.subitem.image, class: 'img-thumbnail', style: 'max-width: 100px; max-height: 100px;' %>
                </div>
                <div class="mt-2 ml-2">
                  <strong><%= item.subitem.title %></strong><br>
                  <p><%= item.subitem.description.truncate(40) %></p>
                </div>
              </div>
            </td>

            <td class="text-center">
              <i class="fa-solid fa-dollar-sign fa-lg" style="color: #3fd1c0;"></i>
              <%= item.subitem.price %>
            </td>

            <td class="text-center">
              <i class="fa-solid fa-square-poll-horizontal fa-lg" style="color: #3fd1c0;"></i>
              <%= item.quantity %>
            </td>

            <td class="text-center">
              <i class="fa-solid fa-hand-holding-dollar fa-lg" style="color: #3fd1c0;"></i>
              <%= (item.subitem.price.to_i * item.quantity.to_i) %>
            </td>

            <td class="text-center">
              <div class="d-flex justify-content-center align-items-center">
                <%= form_with(url: cart_update_path, method: :patch) do |f| %>
                  <%= f.hidden_field :id, value: item.id %>
                  <%= f.number_field :quantity, value: item.quantity, min: 0, class: 'text-dark', style: "width: 40px; height: 37px;" %>

                  <%= f.button :submit, class: "btn btn-primary mr-1", style: "background: #207b7d;" do %>
                  <i class="fa-solid fa-pen fa-lg text-white"></i>
                  <% end %>
                  
                <% end %>
                <%= form_with(url: cart_remove_path) do |f| %>
                  <input type="hidden" value="<%= item.id %>" name="item_id">
                  <%= f.submit "X", class: "btn btn-danger" %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
