<h1 class="mb-5 mt-5 mx-auto text-center">
  <strong style="color: #3fd1c0;">Payment is Completed ! <i class="fa-solid fa-circle-check"></i></strong>
</h1>

<h1 class="mb-5 mt-5 mx-auto text-center">
  <strong style="color: #3fd1c0;">Your Order in Proccessing <i class="fa-solid fa-thumbs-up fa-xl"></i></strong>
</h1>



<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" style="width: 100%;">
      <thead style="background: #3fd1c0;">
        <tr>
          <th class="text-center">Item</th>
          <th class="text-center">Price</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |item| %>
          <tr>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <div>
                  <%= image_tag item.subitem.image, class: 'img-thumbnail', style: 'max-width: 100px; max-height: 100px;' %>
                </div>
                <div class="mt-2 ml-2">
                  <strong><%= item.subitem.title %></strong><br>
                  <p><%= item.subitem.description.truncate(40) %></p>
                </div>
              </div>
            </td>

            <td class="text-center">
              <i class="fa-solid fa-dollar-sign fa-lg" style="color: #3fd1c0;"></i>
              <%= item.subitem.price %>
            </td>

            <td class="text-center">
              <i class="fa-solid fa-square-poll-horizontal fa-lg" style="color: #3fd1c0;"></i>
              <%= item.quantity %>
            </td>

            <td class="text-center">
              <i class="fa-solid fa-hand-holding-dollar fa-lg" style="color: #3fd1c0;"></i>
              <%= (item.subitem.price.to_i * item.quantity.to_i) %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<h1 class="mb-5 mt-5 mx-auto text-center">
  <strong style="color: #3fd1c0;">Thankx For Your Interest</strong>
</h1>