<div class="container bg-light" style="height: 80vh; display: flex; flex-direction: column; justify-content: center;">
  <div class="row">
    <div class="col-lg-8" style="border-radius: 10px; text-align: center;">
      <%= image_tag 'setpass2.png', class: 'img-fluid' %>
    </div>
    <div class="col-lg-4" style="background: #d8eded; border-radius: 10px;">
      <h2 class=" text-center font-weight-bold">Forgot your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email, class: 'font-weight-bold' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-3" %>
        </div>

        <div class="form-group">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <%= image_tag 'setpass.png', class: "img-fluid" %>
    </div>
  </div>
</div>
