
<div class="card mx-auto mt-5" style="max-width: 30rem; border-radius: 25px;">
  
  <div class="d-flex justify-content-center align-items-center" style="height: 300px; border-radius: 25px 25px 0 0;">
    <%= image_tag @subitem.image, class: 'card-img-top', style: 'max-width: 100%; max-height: 100%;' %>
  </div>

  <!-- Card Body -->
  <div class="card-body">
      <h1 class="card-title"><%= @subitem.title %></h1>
      <p class="card-text"><%= @subitem.description %></p>

        <h5 class="card-text mt-2"><strong class="text-danger">Price </strong><%= @subitem.price %><strong> Rs </strong></h5>

        <%= form_with(url: cart_add_path) do |f| %>
          <div class="form-group text-center">

            <button type="button" class="btn btn-white" id="btn1"><i class="fa-solid fa-minus fa-lg" style="display: inline-block;"></i></button>
            <%= f.text_field :quantity, id: 'quantity-input', value: 0, min: 1, class: 'form-control text-dark', style: 'display: inline-block; width: 50px;', autocomplete: 'off' %>
            <button type="button" class="btn btn-white" id="btn2"><i class="fa-solid fa-plus fa-lg" style="display: inline-block;"></i></button>
            
          </div>

          <div class="form-group">
            <%= f.hidden_field :id, value: @subitem.id %>
          </div>
          <div class="form-group text-center">
            <%= f.submit "  Add to Bucket  ", class: "btn btn-danger" %>
          </div>
        <% end %>
        
    
  </div>
</div>


<script>

    var quantityInput = document.getElementById('quantity-input');
    var minusButton = document.querySelector('#btn1');
    var plusButton = document.querySelector('#btn2');

    minusButton.addEventListener('click', function () {
      const currentValue = parseInt(quantityInput.value);
      if (currentValue > 0) {
        quantityInput.value = currentValue - 1;
      }
    });

    plusButton.addEventListener('click', function () {
      const currentValue = parseInt(quantityInput.value);
      quantityInput.value = currentValue + 1;
    });

</script>
