
<div class="container mt-2 larger shadow" style="background-color: #c5eced; border-radius: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh;">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag 'login2.jpg', style: 'border-radius: 15px;', class: 'img-fluid' %>
    </div>
    <div class="col-md-4 mt-2 pr-3 larger shadow mb-2" style="background: #d8eded; border-radius: 10px;">
      <div class="text-center">
        <h2 class="text-2xl font-bold leading-9 tracking-tight"><strong>Log in</strong></h2>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'px-3' }) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'block text-sm font-medium leading-4' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mb-3' %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'block text-sm font-medium leading-4' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'ml-2' %>
          </div>
        <% end %>
        <div class="form-group mt-3">
          <%= f.submit "Log in", class: 'btn btn-block', style:"background: #207b7d" %>
        </div>
      <% end %>
      <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <p class="mt-2">
          <%= link_to "Forgot your password", new_password_path(resource_name) %> /
          <%= link_to "Create an account", new_registration_path(resource_name) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
>




