<ul>

  <% @items.each do |item| %>

            <li>
                <%= item.name %>
                <%= item.price %>
                <%= link_to "Show",item_path(item)%> | 
                <%= link_to 'Edit',edit_item_path(item)%> |
                <p><%= link_to 'Delete Item', item_url(item), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this item?' } %></p>
            </li>
  <% end %>

  <%= link_to 'Create Item',new_item_path%><br>


</ul>
